* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-optical-sizing: auto;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgba(50, 50, 50, 1);
}

header {
    padding: 15px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgba(249, 249, 249, 1);
    font-weight: 300;
    font-size: 20px;
}

h2 {
    font-size: 15px;
    font-weight: 300;
    color: rgba(249, 249, 249, 1)
}

h6 {
    font-weight: 400;
    font-size: 12px;
    color: rgba(249, 249, 249, 1);
}

a {
    text-decoration: none;
    color: rgba(25, 25, 25, 1);
}

p {
    color: rgba(25, 25, 25, 1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.grid-container {
    display: grid;
    gap: 20px;
}

.grid-item {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
    
    background-color: rgba(249, 249, 249, 1);
}

.grid-item-title {
    padding: 15px;
    background-color: rgba(25, 25, 25, 1);
}

.grid-item-content {
    padding: 20px;
}

.highlight {
    padding: 10px;
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}

.form-item {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.form-item-title {
    padding: 10px;
    background-color: rgb(200, 200, 200);
}

label {
    width: 300px;
}

input {
    border: none;
    border-radius: 0;
    font-size: 15px;
    padding: 5px;
    width: 100%;
    background-color: rgb(225, 225, 225);
}

.button {
    background-color: rgba(200, 200, 200, 1);
    padding: 20px;
    box-shadow: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    filter: brightness(80%);
    transition: 0.3s;
}

@media only screen and (max-width: 875px) {
    main {
        padding: 10px;
    }

    header {
        display: flex;
        justify-content: center;
    }
}